.container {
  // width of the container, max-widh so the container can decrease if not enough space;
  // if it's less it will occupy the 100% of the width;
  max-width: 120rem;
  // center
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 100rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 1 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}
